/* Fonte importada */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* Alteração de configurações básicas e fonte */
body {
    padding: 0;
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    height: 130vh; 
    background-image: url(/Imagens/Fundo.png); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    position: relative;
}

.logo {
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #000;
    padding: 0 1.5rem;
    font-weight: bold;
    margin-right: 8px;
}

/* Configuração de Div (disposição, tamanho e fundo) */
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
  
}

/* Configuração do fundo branco (tamanho, fundo, bordas e efeito) */
.card {
    margin-top: 50px;
    width: 5%; 
    max-width: 450px;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 20px rgba(148, 108, 8, 0.03);
}

/* Configuração da imagem da LOGO (tamanho e alinhamento) */
img {
    width: 100%; 
    max-width: 400px;
    margin-bottom: 0; 
    align-items: center;
    
}

/* Configuração dos formulários (disposição) */
form {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

/* Configuração do H2 */
h2 {
    align-self: center;
    color: #204f8c;
}

/* Configuração dos formulários (bordas, transição, tamanho e cor) */
.campo {
    padding: 10px;
    border-radius: 7px;
    border: 1px solid #ccc;
    transition: all linear 190ms;
    font-size: 0.9em;
    color: #444;
    margin-bottom: 5px;
    outline: none;
}

.campo::placeholder {
    color: #666;
}

.campo:focus {
    border-color: #f2e205;
}

/* Configuração do botão de cadastro */
.btn {
    padding: 15px;
    color: #fff;
    font-weight: 600;
    border: none;
    margin-top: 20px;
    border-radius: 7px;
    background-color: #f2e205;
    cursor: pointer;
    transform: all linear 190ms;
    align-content: center;
    display: inline-block; /* Para se comportar como um bloco */
    text-decoration: none; /* Remove o sublinhado */
}

/* Hover do botão */
.btn:hover {
    transform: scale(1.04);
    background-color: #e0d101;
}

/* Configuração do Parágrafo */
p {
    font-size: 0.9em;
    color: #204f8c;
}

/* Configuração dos Links */
a {
    font-size: 0.9em;
    color: #204f8c;
    text-decoration: none;
}

.sair {
    margin-top: 10px;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    text-align: left;   
}

/* Media Queries - Responsividade */

/* Mobile */
@media (max-width: 600px) {
    nav {
        flex-direction: column; 
        height: auto; 
    }

    nav a {
        padding: 5px; 
        margin: 0; 
    }
    .page {
        height: 160vh;
    }

    img {
        width: 70%; 
        margin-bottom: 0px; 
        position: relative;
        align-content: center;
    }

    .card {
        width: 70%; 
        padding: 1rem; 
    }
}


/* Tablet */
@media (min-width: 768px) and (max-width:1023px) {
    .page {
        height: auto;
    }

    img {
        width: 70%;
        margin-bottom: 0px; 
    }

    .card {
        width: 70%; 
        padding: 20px; 
    }
}

/* Desktop */
@media (min-width:1024px) {
    .page {
        height: auto;
    }

    img {
        width: 100%;
        margin-bottom: 0px; 
    }

    .card {
        width: 50%; 
        padding: 20px; 
    }
}